.centers__container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-top: clamp(43px, 17.05px + 6.98vw, 151px);
	padding-bottom: clamp(73px, 39.6px + 8.98vw, 212px);
	padding-inline: clamp(10px, -72.91px + 22.29vw, 355px);

	max-width: var(--container-width);
	margin-inline: auto;
	background-color: var(--main-color);
}

.centers__title {
	color: var(--bg-color);
	font-size: clamp(42px, 35.27px + 1.81vw, 70px);
}

.centers__content {
	color: var(--bg-color);
}

.centers__accordion {
	border-top: 1px solid var(--bg-color);
	padding-block: 30px;
}

.centers__accordion:last-child {
	border-bottom: 1px solid var(--bg-color);
}

.centers__accordion[open] .centers__info::after {
	transform: rotate(90deg);
	transition: var(--transition-time);
}

.centers__info {
	display: flex;
	align-items: center;
}

.centers__info::after {
	display: inline-block;
	content: "";
	width: 21px;
	height: 21px;
	margin-left: auto;
	background-image: url("/icons/arrow-link-icon.svg");
}

.centers__hours {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
}

.centers__location {
	position: relative;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 30px;
	line-height: 90%;
	margin-left: clamp(10px, -14.27px + 6.52vw, 111px);
}

.centers__accordion-text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 169%;
	text-align: center;
	color: var(--bg-color);
}
