.discription__container {
	max-width: var(--container-width);
	margin-inline: auto;
}
.discription__content {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* min 375, max 1920 */
	padding-top: clamp(53px, 27.03px + 6.93vw, 160px);
	/* min 375, max 1920 */
	padding-bottom: clamp(65px, 23.01px + 11.2vw, 238px);
	max-width: 100%;
	margin-inline: auto;
	background-color: var(--main-color);
}

@media (width <= 768px) {
	.discription__content {
		gap: 10px;
		justify-content: space-evenly;
	}
}

.discription__list {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	color: var(--bg-color);
	z-index: var(--layer-1);
}

.discription__item {
	position: relative;
	z-index: var(--layer-3);
	opacity: 0.3;
	transition:
		opacity var(--transition-time),
		transform 0.3s ease;
}

@media (any-hover: hover) {
	.discription__item:hover {
		opacity: 1;
		transform: translateX(10px);
	}
}

@media (width <= 768px) {
	.discription__item {
		font-size: 70px;
	}
}

.discription__item::before {
	display: block;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	background-color: var(--accent-color);
	box-shadow: 0 0 30px rgba(17, 17, 17, 0.3);

	transition:
		width 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
		height 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
	z-index: var(--layer-negative);
}

@media (any-hover: hover) {
	.discription__item:hover::before {
		width: 145px;
		height: 145px;
	}
}

.discription__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
	max-width: 468px;
	max-height: 622px;
	color: var(--bg-color);
}

@media (width <= 768px) {
	.discription__info {
		max-width: 328;
	}
}

.discription__info-title {
	margin-bottom: 10px;
}

.discription__info-text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 169%;
	color: var(--text-color);
}

.discription__statistics {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	margin-top: 2px;
}

@media (width <= 1200px) {
	.discription__statistics {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 576px) {
	.discription__statistics {
		grid-template-columns: 1fr;
	}
}

.discription__statistics-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 100%;
	min-height: 480px;
	background-color: var(--main-color);
	transition:
		transform var(--transition-time),
		box-shadow var(--transition-time);
}

@media (any-hover: hover) {
	.discription__statistics-wrapper:hover {
		transform: translateY(-10px);
		box-shadow: 0 20px 40px var(--bg-color);
	}
}

.discription__statistic-title {
	color: var(--bg-color);
	margin-bottom: 12px;
	/* min 575px max 1920px */
	font-size: clamp(67px, 52.89px + 2.45vw, 100px);
}

.discription__statistic-text {
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 135%;
	text-align: center;
	color: var(--bg-color);
}
