.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	scroll-behavior: smooth;
}

.page__body {
	min-width: 375px;
	background-color: var(--bg-color);
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.main {
	padding-top: clamp(9.375rem, 2.38rem + 14.58vw, 13.3125rem);
}

.container {
	/* width: min(var(--container-width), 100% - var(--container-padding) * 2); */
	margin-inline: auto;
}

.button {
	width: 122px;
	height: 122px;
	border-radius: 50%;
	background-color: var(--accent-color);
	transition: background-color var(--transition-time);
}

@media (any-hover: hover) {
	.button:hover {
		background-color: var(--accent-bright-color);
	}
}

@media (width <= 576px) {
	.button {
		width: 100px;
		height: 100px;
	}
}

.title-xxs,
.title-xs,
.title-sm,
.title-md,
.title-lg {
	font-family: var(--font-family);
}

.title-xxxs {
	font-weight: 600;
	font-size: 20px;
}

.title-xxs {
	font-weight: 500;
	font-size: 30px;
}

.title-xs {
	font-weight: 600;
	font-size: 42px;
}

.title-sm {
	font-weight: 500;
	font-size: 50px;
}

.title-md {
	font-weight: 500;
	font-size: 70px;
}

.title-lg {
	font-weight: 600;
	font-size: 100px;
}

.text-xs {
	font-weight: 600;
	font-size: 42px;
}
