:root {
	/* font-family */
	--font-family: Oswald, san-serif;
	--second-family: Archivo, san-serif;

	/* colors */
	--main-color: #ececec;
	--accent-color: #f47521;
	--accent-bright-color: #ff934b;
	--border-color: #d8d3d3;
	--title-color: #fff;
	--text-color: #979797;
	--bg-color: #141414;
	--subtitle-color: #a6a6a6;

	/* container*/
	--header-container-width: 1708px;
	--footer-container-width: 1708px;
	--container-width: 1920px;
	--container-padding: 20px;

	/* transitions */
	--transition-time: 0.3s;

	/* layers */
	--layer-0: 0;
	--layer-negative: -1;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
